[phases.setup]
nixPkgs = ["python311", "python311Packages.pip", "python311Packages.setuptools"]

[phases.install]
cmds = ["python3 -m pip install -r requirements.txt"]

[start]
cmd = "uvicorn app:app --host 0.0.0.0 --port ${PORT:-8000}"

